# load a `csv` file into sql

### Import the necessary libraries

In [2]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

### 1. FROM workbench: create a database with the name `shoes`

In [3]:
# :)

### 2. Establish a connection to your database through python

### 3. Load the table **into pandas as a df**: from the datasets folder, get the `murallas.csv` file

### 5. Drop un-wanted columns if they exist

### 4. Insert the `df` into your `shoes` database on SQL: use a **pandas method**. You'll need to pass some arguments: `name` & `con`

### 5. From python, query the table back and call it `queried_df`

### 6. Does it look okay? You may wantto get rid of the index. Re-run your code with another argument to prevent that from being created

### 7. Now, from python, drop the database AND the table. Reminder: selecting & insertying use different methods. one uses **pandas** and the other one just the **engine**.

### 8. Get your code and create a function.

`Tip`: Queries through python should be created one by one

In [4]:
def load_into_db (schema, table_name, df):
    """This function should: 
    1. Declare variables: password & connection string
    2. Establish the connection
    3. Run a create and a drop queries
    4. Insert table into schema
    5. Return some feedback: how many rows have been inserted. Retrieve the total rows from workbench
    and format it into a string.

    """
    pass

### 9. Try to call the function more than once. Does it work? if so, success!